<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysInfoMapper">

    <resultMap type="SysInfo" id="SysInfoResult">
        <result property="infoId"    column="info_id"    />
        <result property="infoTypeId"    column="info_type_id"    />
        <result property="infoType"    column="info_type"    />
        <result property="infoName"    column="info_name"    />
        <result property="infoSort"    column="info_sort"    />
        <result property="deleted"    column="deleted"    />
        <result property="operator"    column="operator"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysInfoVo">
        select info_id, info_type_id, info_type, info_name, info_sort, deleted, operator, create_time, update_time from sys_info
    </sql>

    <select id="selectSysInfoList" parameterType="SysInfo" resultMap="SysInfoResult">
        <include refid="selectSysInfoVo"/>
        <where>
            <if test="infoTypeId != null "> and info_type_id = #{infoTypeId}</if>
            <if test="infoType != null  and infoType != ''"> and info_type = #{infoType}</if>
<!--&#45;&#45;             <if test="infoName != null  and infoName != ''"> and info_name like concat('%', #{infoName}, '%')</if>-->
            <if test="infoName != null  and infoName != ''"> and info_name = #{infoName}</if>
            <if test="infoSort != null  and infoSort != ''"> and info_sort = #{infoSort}</if>
            <if test="deleted != null  and deleted != ''"> and deleted = #{deleted}</if>
            <if test="operator != null  and operator != ''"> and operator = #{operator}</if>
        </where>
    </select>

    <select id="selectSysInfoByInfoId" parameterType="Long" resultMap="SysInfoResult">
        <include refid="selectSysInfoVo"/>
        where info_id = #{infoId}
    </select>

    <insert id="insertSysInfo" parameterType="SysInfo" useGeneratedKeys="true" keyProperty="infoId">
        insert into sys_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="infoTypeId != null">info_type_id,</if>
            <if test="infoType != null">info_type,</if>
            <if test="infoName != null">info_name,</if>
            <if test="infoSort != null">info_sort,</if>
            <if test="deleted != null">deleted,</if>
            <if test="operator != null">operator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="infoTypeId != null">#{infoTypeId},</if>
            <if test="infoType != null">#{infoType},</if>
            <if test="infoName != null">#{infoName},</if>
            <if test="infoSort != null">#{infoSort},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="operator != null">#{operator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysInfo" parameterType="SysInfo">
        update sys_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="infoTypeId != null">info_type_id = #{infoTypeId},</if>
            <if test="infoType != null">info_type = #{infoType},</if>
            <if test="infoName != null">info_name = #{infoName},</if>
            <if test="infoSort != null">info_sort = #{infoSort},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where info_id = #{infoId}
    </update>

    <delete id="deleteSysInfoByInfoId" parameterType="Long">
        delete from sys_info where info_id = #{infoId}
    </delete>

    <delete id="deleteSysInfoByInfoIds" parameterType="String">
        delete from sys_info where info_id in
        <foreach item="infoId" collection="array" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>
</mapper>